body {
    background: hsl(0, 0%, 98%);
    text-align: center;
}

div {
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    height: 80px;
}

.grid {
    display: grid;
    width: 1000px;
    grid-gap: 40px; 
    grid-template-areas:    "iphones signup"
                            "iphones login";
    grid-template-columns: 400px 350px;
    grid-template-rows: 600px 10px;
    margin-top: 200px;
    font-family: Helvetica, sans-serif;
    color: gray;
    justify-content: center;
    align-self: end;
}

.right {
    border-radius: 15px;
    padding: 20px;
}

.left {
    align-content: end;
    grid-row: 1 / span 2;
}

.signup {
    background-color: white;
}

button {
    background-color: #4397ED;
    color: white;
    width: 206px;
    height: 35px;
    vertical-align: middle;
}

input {
    width: 200px;
    height: 20px;
    margin: 3px;
    color: gray;
    background-color: hsl(0, 0%, 98%);
}

.login {
    grid-area: login;
    background-color: white;
    color: black;
    align-self: center;
    width: 310px;

}

p {
    font-size: 11pt;
}